h1{
    color:darkblue;
}

#info{
    line-height:1.5em;
}

a{
    text-decoration: none;
    color:blue;
}

a:hover{
    color:brown;
}

body{
    background-color:beige;
    padding-left:150px;
    padding-right:20px;
}

h2{
    color:darkblue;
    border-bottom:1px solid;
    margin-top: 1.5em;
}

.sidebar{
    position:fixed;
    top:0;
    left:0;

    background-color: bisque;

    height:100%;
    width:120px;

    font-size:1.2em;

    line-height: 1.5em;

    padding-top:20px;
    padding-left:18px;
}

#linkbar{
    list-style-type: none;
}